src/main/mule/world_demo_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="3135f189-0277-4aa2-9606-9f1b29f557ff" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b01a0577-8663-4eed-924a-a2d74b507593" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world_demo_apiFlow" doc:id="4c80c2b2-9afd-44e5-a07d-5ddb240f31d7" >
		<http:listener doc:name="Listener" doc:id="a789ec69-4bdc-4e15-9146-8c97680a3134" config-ref="HTTP_Listener_config1" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="32e2321e-0c99-4d5b-bb1b-85996ebc155f" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
